@import'./mixins.scss';

@font-face {
  @include font-face('Azo-Sans', 'Azo-Sans');
}

@font-face {
  @include font-face('Azo-Sans-Black', 'Azo-Sans-Black');
}

@font-face {
  @include font-face('Azo-Sans-Bold', 'Azo-Sans-Bold');
}

@font-face {
  @include font-face('Azo-Sans-Light', 'Azo-Sans-Light');
}

@font-face {
  @include font-face('Azo-Sans-Medium', 'Azo-Sans-Medium');
}

@font-face {
  @include font-face('Elaine', 'Elaine');
}
