@mixin font-face($family, $src) {
  font-family: $family;
  src: url('./assets/fonts/' + $family + '/' + $src + '.eot');
  src: url('./assets/fonts/' + $family + '/' + $src + '.woff') format('woff');
}
