@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../../styles/variables/breakpoints.scss';
@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/sizes.scss';

.newsletter__content,
.success-message__content {
  display: flex;
  flex-direction: column;

  text-align: center;

  @include breakpoint($bp-tablet-xl) {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: left;
  }

  h2 {
    width: $full;
    font-family: Elaine;
    font-size: 50px;
    color: $green;

    @include breakpoint($bp-tablet-xl) {
      width: $third;
    }

    @include breakpoint($bp-desktop) {
      font-size: 80px;
    }
  }
}

.newsletter__form {
  label {
    display: block;
    width: $full;
    margin-bottom: 30px;

    font-family: 'Azo-Sans-Bold';
    color: $gray-blue;
    text-transform: uppercase;
    font-size: 20px;
  }

  .newsletter__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include breakpoint($bp-tablet) {
      flex-direction: row;
    }
  }
}

.newsletter__form--email,
.newsletter__form--name {
  width: $full;

  @include breakpoint($bp-tablet-xl) {
    width: $two-thirds;
    padding-left: 30px;
  }
}

.newsletter__form--email {
  .newsletter__input--email {
    width: $full;
    margin-bottom: 20px;

    @include breakpoint($bp-tablet) {
      flex: 1;
      margin-bottom: 0;
    }
  }

  .newsletter__input--submit {
    width: $full;

    @include breakpoint($bp-tablet) {
      width: 150px;
      margin-left: 20px;
    }
  }

  .newsletter__agreement {
    display: flex;
    flex-direction: row;
  }

  .newsletter__input--checkbox {
    margin-right: 10px;
  }

  .newsletter__agreement-text {
    font-family: 'Azo-Sans-Light';
    color: $gray-mid;
  }
}

.newsletter__form--name {
  .newsletter__input--first-name,
  .newsletter__input--last-name {
    width: $full;
    margin-bottom: 20px;

    @include breakpoint($bp-tablet) {
      flex: 1;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.success-message__content {
  h2 {
    margin: 0 auto;

    @include breakpoint($bp-desktop) {
      width: 40%;
    }
  }
}

.success-message__meta {
  @include breakpoint($bp-desktop) {
    width: 60%;
    padding-left: 60px;
  }

  h3 {
    display: block;
    width: $full;
    margin-bottom: 30px;

    font-family: 'Azo-Sans-Bold';
    color: $gray-blue;
    text-transform: uppercase;
    font-size: 20px;
  }

  p {
    font-family: 'Azo-Sans-Light';
    color: $gray-blue;
    font-size: 20px;
  }
}
