$full: 100%;
$quarter: $full / 4;
$three-quarters: $quarter * 3;
$half: $full / 2;
$third: $full / 3;
$two-thirds: $third * 2;
$full-vp-height: 100vh;
$three-quarters-vp-height: 75vh;
$half-vp-height: 50vh;
$quarter-vp-height: 25vh;
$third-vp-height: 33.33333vh;
$full-vp-width: 100vw;
$three-quarters-vp-width: 75vw;
$half-vp-width: 50vw;
$quarter-vp-width: 25vw;
$third-vp-width: 33.33333vw;
