@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/sizes.scss';

.form-input {
  &[type='text'],
  &[type='email'],
  &[type='submit'] {
    border: 0;
    border-radius: 5px;
    padding: 15px 30px;
  }

  &[type='text'],
  &[type='email'] {
    background: rgba(255, 255, 255, 0.1);

    font-family: 'Azo-Sans';
    color: $gray-blue;
  }

  &[type='submit'] {
    background: $red;

    font-family: 'Azo-Sans-Bold';
    color: $white;
    text-transform: uppercase;
  }

  &[type='checkbox'] {
    border: 2px solid $gray-dark;
    border-radius: 2px;
  }
}
