@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../../styles/variables/breakpoints.scss';
@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/sizes.scss';

.newsletter {
  position: absolute;
  top: $half;
  left: $half;
  transform: translate(-$half, -$half);
  width: $full;
  padding: 20px;
}

.newsletter__wrapper {
  width: $full;
  margin: 0 auto;

  @include breakpoint($bp-tablet) {
    max-width: 600px;
  }

  @include breakpoint($bp-tablet-xl) {
    max-width: 800px;
  }

  @include breakpoint($bp-desktop) {
    max-width: 1000px;
  }
}

.newsletter__error {
  display: block;

  font-family: 'Azo-Sans';
  color: $red;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
